@tailwind base;
@tailwind components;
@tailwind utilities;

button{
  margin: 2rem;
  padding: 0 10px;
  font-size: 40px;
}

.style-btn{
    background:#ADD8E6;
    color:black;
    padding: 8px 14px;
    margin:0;
    font-weight: bold;
    font-size: 14px;
}
.style-btn:hover{
  background: #B9D9EB !important;
  transform: scale(1.05);
  color:blue !important;
}
.style-btn-other{
  padding: 12px 20px;
  margin:1px;
  font-weight: bold;
  font-size: 15px;
}

.style-btn-other:hover{
   transform: scale(1.06);
}
.add-task-btn{
    background:#ADD8E6;
    color:black;
    font-weight: bold; 
    padding: 12px 20px;
    font-size: 15px;
}
.add-task-btn:hover{
    background: #B9D9EB !important;
    color:blue !important;
    border:1px solid blue;
    transform: scale(1.05);
}
.loginRightPart{
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/rightPart.jpeg")  no-repeat center center;;
  padding: 20px;
}
.btnCreateList{
 transform: translateY(-2rem)
}
.ListNamebx{
  transform: translateY(2rem);
  margin: 0;
}
.bgMainPage{
  /* background: url('./assets/rightPart.jpeg'); */
}