@tailwind base;
@tailwind components;
@tailwind utilities;

button{
  margin: 2rem;
  padding: 0 10px;
  font-size: 40px;
}

.style-btn{
    background:#ADD8E6;
    color:black;
    padding: 8px 14px;
    margin:0;
    font-weight: bold;
}
.style-btn:hover{
  background: #B9D9EB !important;
  padding: 12px 16px;
  color:blue !important;
}
.style-btn-other{
  padding: 12px 20px;
  margin:1px;
}